*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px%;
}
.container{
    max-width: 1000px;
    background-color: #e4f9f5;
    margin: 0 auto;
    padding: 20px;
}
.profile-image{
    width: 100px;
    height: 110px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
   
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;

}
.div-clear{
    clear: both;
}

hr{
    border: 3px solid black;
    width: 100%;
    margin: 2px auto;
    border-bottom: none;
}

/*-------------------------
Personal Section Start Here
---------------------------*/
#personal-section{

}
.content{
    margin-bottom: 30px;

}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    float: right;
    width: 70%;
    text-decoration: none;
    
}
.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.table-section{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    max-height: auto;
    padding: 10px;
}
tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    font-family: sans-serif;

}
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
}  
.bottom-container a{
    color: white;
    text-decoration: none;
    padding: 20px;

}
.bottom-container p{
    color: white;
    text-decoration: none;
    margin-top: 20px;


}
